/*
TO DO:
1. Handle word "At" DONE
2. Add background color DONE
3.
*/

body, .jumbotron{
  height: 100%;
  background-color: rgb(62,41,46);
}

input, .output{
  padding: 1rem;
  height: auto;
}

.form-control:focus{
  border-color: rgb(107,115,76);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(107,115,76,.6);
}

.jumbotron {
  background: url(pig.jpeg);
  background-repeat: no-repeat;
  min-height:inherit;
  margin: auto;
  max-width: 1500px;
}

.jumbotron h1 {
  color: #f5f5f5;
  text-shadow: 1px 1px 5px rgb(62, 41, 46);
}

.output{
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem 0 1rem 0;
  overflow-y: scroll;
}

.foot {
  background-color: rgb(62,41,46);
  margin: auto;
  max-width: 1500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0 30px 0;
}

.foot p {
  color:#f5f5f5;
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: rgb(214,225,165);
}

.foot p a:hover, .foot p a:active {
  color: rgb(164,192,143);
}

@media (max-width: 700px) {
  .foot p {
    text-align: center;
  }
  .jumbotron{
    background-image: url(pig2.png);
  }
}
@media (max-width: 960px) {
  .jumbotron{
    background-size: cover;
  }
}
